<div class="container">
  <h2>Add a new Business Dataset</h2>
  <form class="form-horizontal" #register="ngForm" (ngSubmit)="onRegister()">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Dataset Name:</label>
      <div class="col-sm-10">
        <input type="text" required class="form-control" [(ngModel)]="values.name" id="name" placeholder="Enter business dataset name"
          name="name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="type">Target Type:</label>
      <div class="col-sm-10">
        <input type="text" required class="form-control" [(ngModel)]="values.type" id="type" placeholder="Storage Type" name="type">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="path">Target Location:</label>
      <div class="col-sm-10">
        <input type="text" required class="form-control" [(ngModel)]="values.path" id="path" placeholder="Storeage path" name="path">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="file" #fileData (change)="fileUpload(fileData)" />
      </div>
    </div>

    <app-meta-cols [hidden]="!showColTable" [columns]="columsInfo" dispInd="add"></app-meta-cols>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>

  </form>

  <app-spinner [hidden]="!showSpinner"></app-spinner>

  <div *ngIf="resp.status == 201" class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onRemoveStatus()">×</a>
    <strong>Success!</strong> Datasset registered with Metadata Service.
  </div>
  <div *ngIf="resp.status > 201" class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onRemoveStatus()">×</a>
    <strong>Error!</strong> {{ errorText }}
  </div>
</div>