<div class="app-container">
    <div class="app-header">
        <h1>Metadata Manager</h1>
        <p>Portal to manage the metadata service to ingest data</p>
    </div>

    <nav class="navbar navbar-default nav-tabs">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#register" data-toggle="tab">Register</a></li>
            <li><a href="#browse" data-toggle="tab">Browse</a></li>
        </ul>
        <form class="navbar-form navbar-left">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Dataset">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
                </div>
            </div>
        </form>
    </nav>
    <div id="my-tab-content" class="tab-content">
        <div id="register" class="tab-pane active">
            <app-meta-add></app-meta-add>
        </div>
        <div id="browse" class="tab-pane">
            <app-meta-status class="app-table"></app-meta-status>
        </div>
    </div>
</div>