.app-background{
    background: "#eef5fa";
    padding: 10px;
    height: 60%;
    width: 100%;
}

.app-header{
    height:20%;
    width: 100%;
    background: #30417a;
    padding: 10px;
    color: white;
}

.app-container{
    height: 100vh;
    width: 100%;
}