<div class="container">
  <h3>Registered Datasets</h3>
  <app-spinner [hidden]="!hideTable"></app-spinner>
  <table [hidden]="hideTable" class="table table-bordered">
    <thead>
      <tr class="headercol">
        <th>S.No</th>
        <th>Dataset Name</th>
        <th>Target</th>
        <th>Target Path</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dataset of datasets; let i = index">
        <td>{{i + 1}}</td>
        <td>{{dataset.busDatasetName}}</td>
        <td>{{dataset.targetType}}</td>
        <td>{{dataset.datasetPath}}</td>
        <td class="redText" *ngIf="dataset.dataset_status == 'Error Processing'">{{dataset.dataset_status}}</td>
        <td class="greenText" *ngIf="dataset.dataset_status == 'Ingestion Completed'">{{dataset.dataset_status}}</td>
        <td class="orangeText" *ngIf="dataset.dataset_status == 'Uploading'">{{dataset.dataset_status}}</td>
        <td class="orangeText" *ngIf="dataset.dataset_status == 'Processing'">{{dataset.dataset_status}}</td>
        <td class="blueText" *ngIf="dataset.dataset_status == 'New'">{{dataset.dataset_status}}</td>
        <td><a><span class="glyphicon glyphicon-remove" (click)="onDelete(dataset._links.self.href)"></span></a>
          <a><span class="glyphicon glyphicon-pencil" (click)="onEdit(dataset._links.self.href)"></span></a>
          <a><span class="glyphicon glyphicon-list-alt" (click)="onListColumns(dataset.busDatasetName)" data-toggle="modal" data-target="#myModal"></span></a>
          <img class="img-size" *ngIf="showMe == dataset._links.self.href" src="../../assets/images/default.gif" />
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">

    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{modalHeader}}</h4>
        </div>
        <div class="modal-body">
          <table [hidden]="hideTable" class="table table-bordered">
            <thead>
              <tr class="headercol">
                <th>S.No</th>
                <th>Column Name</th>
                <th>Data Type</th>
                <th>Description</th>
                <th>NPI</th>
                <th>PCI</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let column of columnDetail; let i = index">
                <td>{{i + 1}}</td>
                <td>{{column.columnName}}</td>
                <td>{{column.columnDataType}}</td>
                <td>{{column.columnDesc}}</td>
                <td>{{column.columnNpiInd}}</td>
                <td>{{column.columnPciInd}}</td>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>       </div>
      </div>

    </div>
  </div>
</div>