<div class="container">
  <app-spinner [hidden]="!hideTable"></app-spinner>

  <table [hidden]="hideTable" class="table table-bordered" *ngIf="dispInd=='add'">
    <thead>
      <tr class="headercol">
        <th>S.No</th>
        <th>Column Name</th>
        <th>Data Type</th>
        <th>Description</th>
        <th>NPI</th>
        <th>PCI</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let column of columns; let i = index">
        <td>{{i + 1}}</td>
        <td>{{column.column_name}}</td>
        <td>{{column.column_data_type}}</td>
        <td>{{column.column_desc}}</td>
        <td>{{column.column_npi_ind}}</td>
        <td>{{column.column_pci_ind}}</td>
    </tbody>
  </table>
</div>